{%  extends 'anxiety/main.html' %}
{% load static %}
{% block content %}
<style>
	.site-form {
    margin-top: 20px;
    border: 2px solid crimson;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0px 0;
    padding: 10px;
}


.site-form input[type="submit"]{
    background: crimson;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}
</style>
<hr>
<hr>
<center><h1>{{assessment_count}}</h1></center>
<hr>
<hr>
<h1>ASSESSMENTT!!!</h1>



			<form class="site-form" action="" method="POST">
				{% csrf_token %}
				{{form}}
				
				<input type="submit" name="Submit">
			</form>

<h1>If you don't want to assess your anxiety click here<a class="" href="{% url 'home' %}">Back</a></h1>

{% endblock %}